.wb-content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-block-end: 160px;
}

.wb-menu {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wb-menu h2, button {
  display: flex;
  align-items: center;
  height: 30px;
  margin-bottom: 20px;
}

.wb-menu h2 {
  color: var(--pink);
  font-size: 30px;
  font-weight: normal;
  text-justify: left;
}

.wb-button {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  border: 2px solid var(--iris-blue);
  border-radius: 10px;
  width: 80%;
  height: 35px;
  justify-content: center;
  color: var(--iris-blue);
  font-size: 18px;
  transition: 0.2s ease-in;
}

.wb-menu button:focus, button:hover {
  background-color: var(--iris-blue);
  color: #fff;
}

.wb-selected-button {
  background-color: var(--iris-blue);
  color: #fff;
}

.wb-unselected-button {
  background-color: #fff;
  color: var(--iris-blue);
}

.wb-show {
  display: flex;
  width: 600px;
}
