.wa-ap-header {
  display: flex;
  background-color: #fff;
  padding-left: 50px;
  font-size: 22px;
  color: var(--iris-blue);
  box-shadow: 0 0 10px 0px rgb(0, 0, 0, 0.35);
}

.wa-ap-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.wa-ap-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wa-ap-form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.wa-ap-form-item h4 {
  color: var(--pink);
  font-size: 18px;
  width: 125px;
}

.wa-ap-form-item input {
  width: 350px;
  height: 20px;
  background-color: none;
  border: 2px solid var(--iris-blue);
  outline: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--iris-blue);
  font-size: 16px;
  transition: 0.2s ease-in;
}

.wa-ap-form-item textarea {
  width: 350px;
  height: 100px;
  background-color: none;
  border: 2px solid var(--iris-blue);
  outline: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  color: var(--iris-blue);
  font-size: 16px;
  transition: 0.2s ease-in;
}

.wa-ap-form-item select {
  width: 375px;
  height: 40px;
  background-color: none;
  border: 2px solid var(--iris-blue);
  outline: none;
  border-radius: 20px;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  color: var(--iris-blue);
  font-size: 16px;
  transition: 0.2s ease-in;
}

.wa-ap-form-item input:focus, textarea:focus{
  border: 2px solid var(--pink);
}

.wa-ap-form-buttons input{
  background-color: var(--iris-blue);
  border: none;
  border-radius: 15px;
  width: 100px;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  transition: 0.2s ease-in;
}

.wa-ap-form-buttons input:hover {
  background-color: var(--pink);
}

.wa-ap-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}