.header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
}

.header-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
}

.header-logo {
    max-height: 75px;
    width: 75px;
    margin-right: 20px;
}

.header-USA {
    display: flex;
    text-decoration: none;
    margin-right: 20px;
}

.header-USA h3 {
    font-size: 30px;
    color: var(--pink);
}


.header-info a {
    display: flex;
    text-decoration: none;
}

.header-info a span {
    font-size: 16px;
    color: var(--pink);
    border: 0;
    transition: 0.2s ease all;
    background-color: transparent;
}

.header-envios {
    color: var(--pink);
    text-align: center;
}

.search-logo {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.header-containerInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 5px 20px 5px 20px;
}

.inputBuscar {
    width: 100% !important;
}

@media (max-width: 988px) {

    .inputBuscar {
        width: 100% !important;
    }

    .App {
        padding: 40px 5px;
    }


    .containerInput {
        padding-bottom: 15px;
    }

}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding: 5px 0px 5px 0px;
}

.header-button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 250ms;
    align-items: center;
    text-decoration: none;
}

.bn-modal {
    width: 40px;
}

.bn-info h3 {
    font-size: 20px;
    color: var(--pink);
}



.header-carritoIMG {
    max-height: 40px;
    width: 40px;
}