.header-container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

.header-top {
    max-width: 100vw;
    display: flex;
    height: 100px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 0px;
}

.header-logo {
    max-height: 75px;
    width: 75px;
}

.header-USA{
    display: flex;
    text-decoration: none;
}

.header-USA h3{
    font-size: 30px;
    color: var(--pink);
}


.header-info a {
    display: flex;
    text-decoration: none;
}

.bn-modal {
    width: 24px;
    margin-left: 15px;
    margin-right: 10px;
}

.header-info a span {
    font-size: 16px;
    color: var(--pink);
    border: 0;
    transition: 0.2s ease all;
    background-color: transparent;
}

.header-envios {
    color: var(--pink);
}

.search-logo{
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.inputBuscar{
    width: 100% !important;
}

.containerInput{
    display: flex;
    justify-content: flex-end;
    }

@media (max-width: 988px){
  
    .inputBuscar{
      width: 100% !important;
    }
  
    .App{
      padding: 40px 5px;
    }
  
    
  .containerInput{
    padding-bottom: 15px;
  }
  
}

.openModal{
display: flex;
background-color: transparent;
border: none;
cursor: pointer;
transition-duration: 250ms;
align-items: center;
}


.bn-info h2{
font-size: 25px;
color: var(--pink);
border: 0;
}

.header-carrito{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 250ms;
    align-items: center;
}

.header-carritoIMG{
    max-height: 30px;
    width: 30px;
}
